<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet Sentiment Analysis</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">
</head>
<body> 
       <div class="container2">
        <form action="/" method="POST" >
            <input type="text" name="yourtweet" id="tweet" class="inputclass" placeholder="Your tweet here.">
            <input type="submit" value="submit" class="button"/>
            
        </form>
        <h2 >{{yourtweet}}</h2>
       </div>
       
    
       
</body>
</html>